@import './variables.scss';

.App {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 400px 1fr 400px;
	height: 100%;
}

.board-container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content: center;

	.board {
		display: flex;
		flex-direction: column;
		$dimentions: 900px;
		width: $dimentions;
		height: $dimentions;
		border: $stroke-big solid var(--border-color);
		box-sizing: content-box;
	}
}

.buttons {
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;

	button {
		padding: 1em 2em;
		background-color: var(--border-color);
		border: none;
		font-weight: bold;
		cursor: pointer;
		margin-bottom: 30px;
	}

	input {
		width: 200px;
		height: 30px;

		&:focus {
			outline: none;
		}
	}
}

.row {
	display: flex;
	width: 100%;
	flex: 1;
}

.box {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
